@font-face {
  font-family: myFirstFont;
  src: url(./IRRoya.ttf);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: myFirstFont;
}

.insurance {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-inline-start: 0;
}
.insurance li {
  margin: 1rem;
  width: 9rem;
}

.cls-1 {
  fill: #bddbff;
}
.cls-2 {
  fill: #3d9ae2;
}
